.cards-gradient{
    background: -webkit-linear-gradient(110deg, #19d272,#e499ff,#a8d9ff);/* Chrome 10-25, Safari 5.1-6 */                          
    background: linear-gradient(110deg, #19d272,#e499ff,#a8d9ff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.card-styles h5{
    color: #ffffff;
}
.card-styles span{
    color: #ffffff;
}
.card-btn{
    color: white;
    background-color: rgba(0, 0, 0, 0.1);

}

.card-btn :hover{
    background-color: rgba(68, 0, 255, 0.1);

}   