<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
       
        Clara Bujeda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/{{ lang if lang != 'es'}}">{{ translations[lang].menu_home }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ '/' + lang if lang != 'es' else '' }}/projects">{{ translations[lang].menu_projects }}</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="{{ '/' + lang if lang != 'es' else '' }}/education">{{ translations[lang].menu_portfolio }}</a>
        </li>
        
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="{{ '/' + lang if lang != 'es' else '' }}/blog">{{ translations[lang].menu_blog }}</a>
        </li>
        <!--
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/learn">Aprender</a>
        </li>-->



      </ul>
      
      <!-- UTILS -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/img/icon/translate.svg" alt="Idioma" width="24" height="24" class="d-inline-block align-text-top" style="filter: invert(1) brightness(2);">
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <!-- IDIOMA ESPAÑOL -->
            <li>
                <a class="dropdown-item" href="{% if lang == 'es' %}{{ page.url }}{% else %}{{ page.url | replace('/' + lang, '') }}{% endif %}">
                <img src="/assets/img/icon/flags/es.svg" alt="Español" width="24" height="24" class="d-inline-block align-text-top">
                Español
                </a>
            </li>

          
            <li>
                <a class="dropdown-item" href="{% if lang == 'es' %}/en{{ page.url }}{% else %}{{ page.url | replace('/' + lang, '/en') }}{% endif %}">
                <img src="/assets/img/icon/flags/gb.svg" alt="English" width="24" height="24" class="d-inline-block align-text-top" >
                English (90%)
                </a>
            </li>

            
            <li>
              <a class="dropdown-item" href="{% if lang == 'es' %}/jp{{ page.url }}{% else %}{{ page.url | replace('/' + lang, '/jp') }}{% endif %}">
                <img src="/assets/img/icon/flags/jp.svg" alt="日本語" width="24" height="24" class="d-inline-block align-text-top" style="filter: drop-shadow(0 0 2px #333);">
                日本語 (50%)
              </a>
            </li>
                        
          </ul>
        </li>
      </ul>
      <!--
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>

