---
layout: blog/layout_container_blog.njk
description: Bienvenido a mi sitio web
---



<nav class="navbar navbar-light bg-light mb-3 rounded shadow-sm px-3 py-2">
    <a class="btn btn-outline-primary fw-bold" href="/blog/">
        ← Volver al blog
    </a>
    <div class="meta">
        Publicado el {{ date.toLocaleDateString('es-ES') }} por 
        <a href="#">{{ author }}</a>
        <span class="separator mx-2">|</span>
        {% if lang_post %}
            <span class="lang-flag">
                <img src="/assets/img/icon/flags/{{ lang_post }}.svg" alt="{{ lang_post }}" style="height:1em;vertical-align:middle;">
                {{ lang_post | upper }}
            </span>
        {% endif %}
    </div>
</nav>

<link rel="stylesheet" href="/assets/css/blog/posts_md.css">
<link rel="stylesheet" href="/assets/css/highlight.css">
<script src="/assets/js/highlight/highlight.min.js"></script>

<div class="container box_white_simple" style="min-height: 90vh;">
    <div class="row h-100">
        <div class="col h-100 d-flex flex-column">
            <main class="flex-grow-1 markdown">
                <p class="mb-2 mt-2 markdown_title">{{title}}</p>
                {{content | safe}}
            </main>
        </div>
    </div>
</div>

<!-- and it's easy to individually load additional languages -->
<script src="/assets/js/highlight/cpp.min.js"></script>
<script src="/assets/js/highlight/java.min.js"></script>
<script src="/assets/js/highlight/markdown.min.js"></script>
<script src="/assets/js/highlight/css.min.js"></script>
<script src="/assets/js/highlight/bash.min.js"></script>

<script>hljs.highlightAll();</script>