:root{
    /*** Colors ***/
        /*Navigator*/
    --backgound-color-main: #29272A;
    --default-text: #C9C9CB;
    --hover-text: #7F617B;
        /*Content*/
    --box-back-color: #3E3630;
    --default-border-color: #C9C9CB;
    --title-box-color: #A17A98;
    --formas-back-color: #7B6C81;

    --button-back-color: #774069;
    --apartado-text-color: #C0A5A9;
    /*** Fonts ***/

    /*** Sizes ***/
    --size-profile-image: 50px;
    --margin-content-top: 30px;
    --video-size: 400px;
}

body, html{
    background-color: var(--backgound-color-main);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
}

.pdfviewer{
    width: 100%;
    height: 100%;
}

.button-exit{
    background-color: rgb(255, 87, 87);
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    margin: 10px 0;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}
