:root{
    /*** Colors ***/
        /*Navigator*/
    --backgound-color-main:#29272A;
    --default-text:#C9C9CB;
    --hover-text:#7F617B;
        /*Content*/
    --box-back-color:#3E3630;
    --default-border-color:#C9C9CB;
    --title-box-color:#A17A98;
    --formas-back-color:#7B6C81;

    --button-back-color:#774069;
    --apartado-text-color:#C0A5A9;
    /*** Fonts ***/

    /*** Sizes ***/
    --size-profile-image: 50px;
    --margin-content-top:30px;
    --video-size: 400px;
}

html,body,.container-fluid {
    background-color: var(--backgound-color-main);
    color: var(--default-text);
}

/******************** NAVIGATOR ***********************/

.navigator{
    margin-bottom: 10px;
}

.container_title{
    display: flex;
}


.profile_image{
    background-image: url("../img/profile/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    width: var(--size-profile-image);
    height: var(--size-profile-image);

    margin-left: 20px;
    margin-right: 20px;

}

.title_profile{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--default-text);
    margin-top: calc(var(--size-profile-image)/5);
    margin-left: 15px;
}

.link_menu{
    margin-right: 40px;
    margin-top: 5px;
}

.link_menu a{
    font-size: 1em;
    font-weight: bold;
    color: var(--default-text);
}

.link_menu .active{
    text-decoration: underline wavy;
}

.link_menu a:hover{
    text-decoration: underline wavy;
    color: var(--hover-text);
}


/****************************************************/
/******************* Secciones **********************/
.line_title_text {
    display: flex;
    align-items: center;
    width: 100%;
}

.line_title_text::before{
    content: ' ';
    border-bottom: 2px solid var(--apartado-text-color);
    flex: 0.1;
    margin-right: 10px;
    margin-left: 4%;
} 
.line_title_text::after {
    content: ' ';
    flex: 1;
    border-bottom: 2px solid var(--apartado-text-color);
    margin-right: 10%;
    margin-left: 10px;
}
.line_title_text span {
    font-weight: bold;
    color: var(--apartado-text-color);
    white-space: nowrap;
}


/****************************************************/
/******************* Footer **********************/
.footer{
    opacity: 90%;
    background-color: transparent;
}
/****************************************************/
