:root{
    /*** Colors ***/
        /*Navigator*/
    --backgound-color-main:#29272A;
    --default-text:#C9C9CB;
    --hover-text:#7F617B;
        /*Content*/
    --box-back-color:#3E3630;
    --default-border-color:#C9C9CB;
    --title-box-color:#A17A98;
    --formas-back-color:#7B6C81;

    --button-back-color:#774069;
    --apartado-text-color:#C0A5A9;
    /*** Fonts ***/

    /*** Sizes ***/
    --size-profile-image: 50px;
    --margin-content-top:30px;
    --video-size: 400px;
}

html,body,.container-fluid {
    background-color: var(--backgound-color-main);
    color: var(--default-text);
}

/******************** NAVIGATOR ***********************/

.navigator{
    margin-bottom: 10px;
}

.container_title{
    display: flex;
}


.profile_image{
    background-image: url("../img/profile/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    width: var(--size-profile-image);
    height: var(--size-profile-image);

    margin-left: 20px;
    margin-right: 20px;

}

.title_profile{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--default-text);
    margin-top: calc(var(--size-profile-image)/5);
    margin-left: 15px;
}

.link_menu{
    margin-right: 40px;
    margin-top: 5px;
}

.link_menu a{
    font-size: 1em;
    font-weight: bold;
    color: var(--default-text);
}

.link_menu .active{
    text-decoration: underline wavy;
}

.link_menu a:hover{
    text-decoration: underline wavy;
    color: var(--hover-text);
}


/****************************************************/
/****************** Social Box***********************/

.social_box a div{
    --size-social-box:30px;
    height: var(--size-social-box);
    width: var(--size-social-box);
    background-color: var(--button-back-color);
    margin: 5px;
    float: right;
    border-radius: 100%;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 2px 2px 0px 0px #ffffff; 
        box-shadow: 2px 2px 0px 0px #ffffff;
    overflow: hidden;
}
.social_box a div:hover{
    margin-top: 2px;
    /*
    -webkit-box-shadow: 0px 0px 0px 0px #ffffff; 
        box-shadow: 0px 0px 0px 0px #ffffff;
*/
}
.social_box a div img{
    user-select: none;
}

/****************************************************/
/******************** Content ***********************/


.about-me-box{
    margin-top: var(--margin-content-top);
    width: 100%;

    background-color: var(--box-back-color);
    border-color: var(--default-border-color);
    border-style: solid;
    border-width: 4px;
    box-shadow: 12px 10px 0px 0px rgba(255,255,255,1);
    -webkit-box-shadow: 12px 10px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 12px 10px 0px 0px rgba(255,255,255,1);
    margin-bottom: 10px;
    padding: 8px;
}
.about-me-box .title_box{
    color: var(--title-box-color);
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgb(255, 255, 255);
}
.about-me-box .text_box_basic{
    color: var(--default-text);
    font-weight: bold;
}

    /**BLOB PRESENTATION**/
.blob_presentation{
    margin-top: var(--margin-content-top);
    text-align: center;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: var(--formas-back-color);
    padding-bottom: 40px;
    padding-top: 20px;
    overflow: hidden; /* Oculta el contenido que se desborde del div */
    animation: blob_respiracion 5s infinite alternate;
    user-select: none;
}
.blob_presentation:hover{
    overflow: visible;
}

@keyframes blob_respiracion {
    0% {
      transform: scale(1) rotate(0deg);
    }
    100% {
      transform: scale(1.05) rotate(2deg);
    }
}


.blob_video{
    border-radius: 10px;
    width: var(--video-size);
    height: calc(var(--video-size)/2);
    user-select: none;
}
.blob_cv_download_button{
    background-color: var(--button-back-color);
    color: var(--default-text);
    text-decoration: none;
    font-weight: bold;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 0px 0px #ffffff; 
        box-shadow: 3px 3px 0px 0px #ffffff;
        user-select: none;
}



.blob_cv_download_button:hover{
    margin-top: 6px;
    margin-left: 6px;
    -webkit-box-shadow: 0px 0px 0px 0px #ffffff; 
    box-shadow: 0px 0px 0px 0px #ffffff;

    background-color: #3A395E;
    color: var(--default-text);
    text-decoration: none;
}

/****************************************************/
/******************* Secciones **********************/
.line_title_text {
    display: flex;
    align-items: center;
    width: 100%;
}

.line_title_text::before{
    content: ' ';
    border-bottom: 2px solid var(--apartado-text-color);
    flex: 0.1;
    margin-right: 10px;
    margin-left: 4%;
} 
.line_title_text::after {
    content: ' ';
    flex: 1;
    border-bottom: 2px solid var(--apartado-text-color);
    margin-right: 10%;
    margin-left: 10px;
}
.line_title_text span {
    font-weight: bold;
    color: var(--apartado-text-color);
    white-space: nowrap;
}


/****************************************************/