:root{
    /*** Colors ***/
        /*Navigator*/
    --backgound-color-main:#29272A;
    --default-text:#C9C9CB;
    --hover-text:#7F617B;

    /*trayectory colors*/
    --school-color-back:#3A395E;
    --company-color-back:#37403B;
    --challenge-color-back:#7C3551;


        /*Content*/
    --box-back-color:#3E3630;
    --default-border-color:#C9C9CB;
    --title-box-color:#A17A98;
    --formas-back-color:#7B6C81;

    --button-back-color:#774069;
    --apartado-text-color:#C0A5A9;
    /*** Fonts ***/

    /*** Sizes ***/
    --size-profile-image: 50px;
    --margin-content-top:30px;
    --video-size: 400px;
}


.trayectory_link{
    text-decoration: none;
}

.trayectory{
    --size-border:5px;

    color: white;
    text-align: left;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #ffffff;

    -webkit-box-shadow: var(--size-border) var(--size-border) 0px 0px rgb(255, 255, 255);
    -moz-box-shadow: var(--size-border) var(--size-border) 0px 0px rgb(255, 255, 255);
    box-shadow: var(--size-border) var(--size-border) 0px 0px rgb(255, 255, 255);
    
}
.trayectory .title{
    font-weight: bold;
}
.school{
    background-color: var(--school-color-back);
}
.challenges{
    background-color: var(--challenge-color-back);
}

.company{
    background-color: var(--company-color-back);
}

.img_container{
    text-align: center;
    align-items: center;
}

.img_trayectory{
   /* height: 70px;*/
    max-width: 70px;
}

.page-title{
    font-size: 20px;
    text-align: center;
    color: var(--apartado-text-color);
}