:root{
    /*** Colors ***/
        /*Navigator*/
    --backgound-color-main:#29272A;
    --default-text:#C9C9CB;
    --hover-text:#7F617B;
        /*Content*/
    --box-back-color:#3E3630;
    --default-border-color:#C9C9CB;
    --title-box-color:#A17A98;
    --formas-back-color:#7B6C81;

    --button-back-color:#774069;
    --apartado-text-color:#C0A5A9;
    /*** Fonts ***/

    /*** Sizes ***/
    --size-profile-image: 50px;
    --margin-content-top:30px;
    --video-size: 400px;
}

.card-body{
    background-color: transparent;
    color: var(--default-text);
}
.card{
    border-width: 0px;
    background-color: transparent;
}

.title_secction_videos{
    font-size: 20px;
    text-align: center;
    color: var(--apartado-text-color);
}

.card-img-top{
    
}