.headorer {
    background-image: url('./../../../../../assets/static/img/proyectos/main/slider_NIB.png');
    background-size: cover; /* La imagen cubrirá todo el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 140px;
}


.text_Shadow{
    text-shadow: 2px 2px 7px #000000;
}
.text_White{
    text-shadow: 2px 2px 7px #ffffff;
}